@CHARSET "UTF-8";

.navbar-default {
	background-color: #ededed;
}

.navbar-default .navbar-nav > li > a {
	color: #ae1841;
}

h1 {
	color: #ae1841;
}

th {
	padding:2px;
}

#popup { 
    background-color:#fff;
    border-radius:15px;
    color:#000;
    display:none; 
    padding:20px;
    min-width:400px;
    min-height: 180px;
    max-width:50%;
}
.b-close{
    cursor:pointer;
    position:absolute;
    right:10px;
    top:5px;
}
